<div xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
        style="margin-top:82px">

  <h2>Submitted Talks</h2>

  <div py:if="not talks">
    <small>No talks submitted, feel free to <a href="/talks/new">Submit a Talk</a>!</small>
  </div>

  <div py:for="talk in talks" class="talk-big-preview">
    <h2>
      <a href="${tg.url('/talks/view/') + talk.slug}">${talk.title}</a>
      <a py:if="not talk.accepted and talk.is_owned_by_current_user()"
         href="${tg.url('/talks/edit/') + str(talk.uid)}"
         class="btn btn-warning">
        Edit
      </a>
    </h2>
    <div>
      ${talk.description}
    </div>
  </div>

</div>