$font_family: "Open Sans", arial, sans-serif;
$font_size_text: 18px;
$font_line_height: 24px;

$margin_separator: 40px;

$color_text: #3D5054;

@mixin normal_text {
  font-family: $font_family;
  font-size: $font_size_text;
  font-weight: 300;
  line-height: $font_line_height;
}

@mixin bold_text {
  @include normal_text;
  font-weight: 800;
}

@mixin linear_gradient($from, $to) {
  background: rgb($from, $from, $from); /* Old browsers */
  background: -moz-linear-gradient(top, rgba($from, $from, $from, 1) 0%, rgba($to, $to, $to, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba($from, $from, $from, 1)), color-stop(100%, rgba($to, $to, $to, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba($from, $from, $from, 1) 0%, rgba($to, $to, $to, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba($from, $from, $from, 1) 0%, rgba($to, $to, $to, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba($from, $from, $from, 1) 0%, rgba($to, $to, $to, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba($from, $from, $from, 1) 0%, rgba($to, $to, $to, 1) 100%); /* W3C */
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: $font_family;
}

body {
  background-color: #ffffff;
  @include normal_text;
}

#welcome_box {
  color: #5a5a5a;
  line-height: 30px;
  margin-bottom: $margin_separator;
}

#smallpress_search ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#call4paper_box {
  margin-bottom: $margin_separator;
}

#main-content {
  min-height: 400px;
}

#main-header {
  padding: 30px 0 67px;
  text-align: center;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-index #main-header {
  padding: 130px 0 167px;
}

#main-header {
  padding: 30px 0 67px;
  text-align: center;
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  hgroup {
    padding-top: 3px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: #FFFFFF;

    h1 {
      font-size: 72px;
      font-weight: 800;
    }

    h2 {
      font-size: 30px;
      font-weight: 300;
    }
  }
}

.navbar {
  background-color: #F1F3F4;
  border-bottom: 1px solid #D7DBDC;
  .nav > li > a {
    color: $color_text;
    display: block;
    @include bold_text;
    font-size: 22px;
    padding: 35px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
    &:hover {
      color: #000000;
    }
  }
}

.navbar-inner {
  background-image: none;
  background-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#schedules h2 {
  text-align: center;
  border-bottom: 1px solid #EAEDEE;
  padding-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
}

#news_box, #deadlines {
  margin-top: $margin_separator;

  h2 {
    text-align: center;
    border-bottom: 1px solid #EAEDEE;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 300;
  }

  a, h3 {
    color: $color_text;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    padding-top: 6px;
  }

  a:hover {
    color: darken($color_text, 20%);
  }

  p {
    @include normal_text;
    margin-top: -2px;
    padding-bottom: 0;
  }
}

.show-date {
  float: left;
  margin-right: 19px;
  text-align: center;
  width: 60px;
}

span.post-meta {
  background-color: #F1F3F4;
  display: block;
  font-size: 12px;
  font-weight: 800;
  line-height: 38px;
  text-transform: uppercase;
  span {
    display: block;
    font-size: 26px;
    font-weight: 300;
    margin-top: -16px;
    line-height: 38px;
    text-transform: uppercase;
  }
}

.recent_news,
.upcoming_deadline {
  margin-top: 5px;
}

#calendarevents_calendar_title,
#calendarevents_calendar h2,
.talk-big-preview h2,
.talk-alone h2 {
  font-weight: 800;
  font-size: 36px;
  margin-top: 40px;
  line-height: 42px;
}

.talk-big-preview h2 {
  padding-top: 20px;
  border-top: 1px solid $color_text;
}

.talk-big-preview > div,
.talk-alone> div {
  white-space: pre-line;
}

.talk-alone h2 {

}

.talk-alone h6,
.talk-big-preview h6 {
  padding-bottom: 32px;
}

#call4paper_box {
  h1 {
    font-size: 46px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: -5px;
  }
  ol {
    color: indianred;
    font-size: 36px;
    font-weight: 800;
    padding-left: 30px;
  }
  li {
    line-height: 48px;
  }
}

form .error {
  color: red;
}

#talk-submission-author {
  margin-bottom: 24px;
}

#talk-submission-author > * {
  vertical-align: middle;
}

#talk-submission-author > span {
  font-size: 24px;
}

#talk-submission-author > img {
  width: 32px;
  height: 32px;
}

.conference-speaker-bio {
  margin-top: 32px;

  img {
    width: 32px;
    height: 32px;
  }
}

#date-container {
  position: relative;
}

#until {
  color: indianred;
  font-size: 36px;
  font-weight: 800;
  padding-left: 30px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  transform: rotate(7deg);
  position: absolute;
  font-size: 24px;
  top: 80px;
}

a.tagging_tag {
  @include linear_gradient(249, 242);
  border: 1px solid #e0dddd;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 1px 0 #FCFCFC inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 0 #FCFCFC inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0 #FCFCFC inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: $color_text;
  font-size: 14px;
  padding: 2px 6px;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  text-transform: uppercase;

  &:hover {
    color: #000;
  }
}

.smallpress_article h2 a {
  color: $color_text;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 13px;
}

div.smallpress_article  h2+div {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 24px;
}

.smallpress_article_content p {
  font-size: 16px;
  padding-bottom: 15px;
  line-height: 24px;

}

