<div xmlns:py="http://genshi.edgewall.org/" class="smallpress_article">
  <py:choose test="article.blog.name">
    <py:when test="'statics'">
      <h1>
        ${article.title}
        <span py:if="article.is_owner(request.identity)">
            <a href="${h.plug_url('smallpress', '/edit/%s'%article.uid)}">edit</a> |
        </span>
      </h1>

      <div class="smallpress_article_content">
        ${Markup(article.content)}
      </div>
    </py:when>

    <py:otherwise>
      <h2>
        <a href="${h.plug_url('smallpress', '/view/%s'%article.uid)}">${article.title}</a>
        <span py:if="article.is_owner(request.identity)">
            <a href="${h.plug_url('smallpress', '/edit/%s'%article.uid)}">edit</a> |
        </span>
      </h2>
      <div>
        ${h.smallpress.format_date(article)}
      </div>

      <div class="smallpress_article_content">
        ${Markup(article.content)}
      </div>
    </py:otherwise>
  </py:choose>
</div>